{% extends "base.html.jinja" %}
{% block content %}
<div class="row">
        <div class="col-8 text-left pt-4">
            <a>Autor: Łopata Wojciech </a>
            <br>
            <a>Strona została stworzona w ramach zajęć PP2</a>

        </div>
        <div class="col-4 text-right pt-4" >
            <p>Link do repozytorium na githubie</p>
            <a href="https://github.com/WojciechLopata"> https://github.com/WojciechLopata/CeneoWebScrapper </a>
            <img class="img-fluid" src="/static/github.png"> 
            

        </div>
    </div>




{% endblock content %}
   

