{% extends 'base.html.jinja' %}

{% block content %}


{% if error %}
	<h1>{{ error }}!!</h1>
{% endif %}
	<br/>
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}

		{{ form.name(class="form-control-lg") }}
    <br>
		{{ form.submit(class="btn btn-success") }}


	</form>
</div>



{% endblock %} 