<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeneoWebScrapper</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.css"/>
</head>

<body>
    
    <script src="js/bootstrap.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <header><h1 class="text-center font-weight-bold text-truncante font-italic">CeneoWebScrapper</h1></header>
    <nav class="navbar navbar-light bg-info nav justify-content-center ">
       
        <ul class="nav justify-content-center">
            <li class="nav-item">
                
             <a class="nav-link active  hover-zoom btn btn-outline-success" href="{{url_for('index')}}">Strona Główna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  hover-zoom btn btn-outline-success" href="{{url_for('extraction')}}">Ekstrakcja opinii</a>
            </li>
            <li class="nav-item hover-zoom">
              <a class="nav-link  hover-zoom btn btn-outline-success" href="{{url_for('lista')}}">Lista produktów</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  hover-zoom btn btn-outline-success" href="{{url_for('autor')}}"  >O autorze</a>
            </li>
          </ul>
          </nav>

    <div class="row justify-content-center">
        <div class="col-8 justify-content-center pt-4 border-end border-dark">
            <a>Celem projektu było stworzenie aplikacji webowej pobierającej opinie o produktach z ceneo.pl</a>
            <a> 1. Pobranie elementów pojedyńczej opinii do niezależnych zmiennych  </a>
             <a>   2. Zapisanie wszystkich elementów pojeduńczej opinnii do jednej zmiennej (słownink)</a>
             <a> 3. Pobranie wszystkich opinii z pojedyńczej strony do słowników i dodanie ich do listy</a>
                <a> 4. Pobranie wszystkich opinii z wszystkich stron i zapisanie ich do pliku .json</a>
                    <a>   5. Dodanie możliwości podania id produktu przez użytkownika za pomocą klawiatury </a>
                        <a>  6. Refaktoryzacja \(optymalizacja\) kodu:</a>
                            <a>      a. utworzenie funkcji do pobierania składowych strony html</a>
                                <a>      b. utworzenie słownika opisującego strukturą opinii wraz z selektorami poszczególnych elementów</a>
                                    <a>     c.zamiana instrukcji pobierającyc składowe opinii do pojedynczych zmiennych i tworzących z nich słownik na wyrażenie słownikowe \(dictionary comprehension\)</a>
                                        <a>       tworzące słownik reprezentujący pojedynczą opinię na podstawie słownika selektorów</a>
                                            <a>     7. analiza opinii o wybranym produkcie</a>
                                                <a>       1. wczytanie wszystkich opinii o wskazanym produkcie do obiektu dataframe</a>
                                                    <a>        2. wyliczenie podstawowych statystyk na podstawie opinii</a>
                                                        <a>        1. liczba wszystkich opinii o produkcie </a>
                                                            <a>          2. liczba opinii z zaletami </a>
                                                                <a>          3. liczba opinii z wadami </a>
                                                                    <a>          4. średnia ilość gwiazdek</a>
                                                                        <a>      3. przygotowanie wykresów na podstawie zawartośći opinii </a>
                                                                            <a>         1. udział poszczególnymh rekomendacji w ogólnej liczbie opinii</a>
                                                                                <a>         2. histogram częstości występowania poszczególnych ocen (liczby gwiazdek)</a>
        </div>
        <div class="col-4 justify content center">
            <p class="text-center">Placeholder</p>
        </div>
    
    
    </div>
    </div>


    
    <footer class="text-center text-primary border border-success text-truncante bg-secondary container-fluid ">
        <p>&copy; Wojciech Łopata Uniwestytet Ekonomiczny W Krakowie</p>
    </footer>
</body>
</html>